doctype html
html
    head
        title helloworld
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
        meta(name="description",content="helloworld project")
        meta(name="keywords", content="helloworld, helloworld")
        link(rel="icon" href="./WebContent/app/commons/img/favicon.ico" type="image/x-icon")
    body

        div(ng-view="")
    script( src="[[ helloworld.app.*.js ]]" )

